<html ng-app="clientside">

<head>
    <script src="../angular.js"></script>

    <script src="../controller/controlLogin.js"></script>
    <link href="../Style/newstyle.css" rel="stylesheet" type="text/css">
</head>


<body ng-controller="controlLogin">


   <div class="container register-form">
        <div class="form">
            <div class="note">
                <p>Chat App Login Form.</p>
            </div>
            <form name="myForm" ng-controller="controlLogin"></form>
            <div class="form-content">
                <div class="row">
                
                    <div class="col-md-6">
                        <div class="form-group">
                                
                            <input type="text" placeholder="Enter Email"  class="form-control" name="email" ng-model="email" required>
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Enter Password"  class="form-control" name="password" ng-model="password" id="password" title="at least 8 or more characters" required>
                        </div>
                    </div>
                </div>
                 <button class="btnSubmit"   type="submit" value="log In" ng-click="login()" class="login-button">Login</button>
                <p>New to Chat App?
                        <a href="http://localhost:3000/#!/register">Register</a>.
                    </p>
                </form>
            </main>
            <div> <label>
                    <span ui-sref="forgotPassword">
                        <a href="http://localhost:3000/#!/forgotPassword">Forgot password</a></span></label>
            </div>
            </div>
            </form>
        </div>
    
    </div>


    </body>
</html>
  
  

</body>

</html>