
<html ng-app="clientside">
    <head>
     
          <script src="../controller/controlRegister.js"></script>
          <script src="../angular.js"></script>
          <link href="../Style/newstyle.css" rel="stylesheet" type="text/css">
         </head>
  <body ng-controller="controlRegister">
   


    <div class="container register-form">
        <div class="form">
            <div class="note">
                <p> Chat App Register Form <br> Enter your details in below </p>
            </div>
            <form name="myForm" method="POST" style="border:1px solid #ccc">
            <div class="form-content">
                <div class="row">
                    <div class="col-md-6">
                        
                        <div class="form-group">
                            
            <input type="text" placeholder="Enter FirstName"  class="form-control" name="firstname" ng-model="firstname" required>    </label>
                        </div>
               
                        <div class="form-group">
                     
                            <input type="text" placeholder="Enter LastName"  class="form-control" name="Lastname" ng-model="lastname" required>
                        </div>
                        </div>
                    <div class="col-md-6">
                        <div class="form-group">
                                
                            <input type="text" placeholder="Enter Email"  class="form-control" name="email" ng-model="email" required>
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Enter Password"  class="form-control" name="password" ng-model="password" id="password" title="at least 8 or more characters" required>
                        </div>
                    </div>
                </div>
                <button class="btnSubmit" type="submit" value="Sign up" ng-click="register()" ng-disabled="myForm.$invalid">Register</button>
            
            </div>
            </form>
        </div>
    
    </div>


    </body>
</html>
  
  