
<html ng-app="clientside">
    <head>
     
          <script src="../controller/controlRegister.js"></script>
          <script src="../angular.js"></script>
   
         </head>
  <body ng-controller="controlRegister">
  
  
  <section id= main>
    <article>
      <main>
        <form name="myForm" method="POST" style="border:1px solid #ccc">
          <div class="container">
            <h1><b>Register</b></h1>
            <p>please fill in this form to create an account.</p>
            <hr>
            <label for="firstname"><b>FirstName</b></label>
            <input type="text" placeholder="Enter FirstName" name="firstname" ng-model="firstname" required>
            <label for="lastname"><b>LastName</b></label>
            
          <input type="text" placeholder="Enter LastName" name="Lastname" ng-model="lastname" required>
           
          <br>
          <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" ng-model="email" required>
            <br>
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" ng-model="password" id="password" title="at least 8 or more characters" required>
        
            <div>
              
              <button type="submit" value="Sign up" ng-click="register()" ng-disabled="myForm.$invalid">Register</button>
        </form>
      </main>
    </article>
  </section>
  </body>
  </html>
  